.rapMoon{
position:relative;
border-radius:50%;
overflow:hidden;
background-color:black;
box-shadow:inset -2px -2px 4px rgba(0,0,0,8),inset 2px 2px 4px rgba(255,255,255,8),2px 2px 4px rgba(0,0,0,8),0px 0px 4px black;
}
.light{
border-radius:50%;		
border-style:solid;
box-sizing:border-box;	
position:absolute;
width:100%;
height:100%;
background-color:white;
border-radius:50%;
filter: blur(0.5rem);
}
.texture{
position:absolute;	
width:100%;
height:100%;	
background-image:url(moon.png);
background-size:100% 100%;
mix-blend-mode:multiply;
}